#root {
  width: 100%;
  margin: 0 auto;
  text-align: start;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 0 2rem;
}

.card {
  padding: 2em;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 1rem;
  }

  .card {
    padding: 1rem;
  }

  .password-form {
    width: 90%;
    padding: 1rem;
  }
}
